
<!-- Toolbar -->
<div class="container">
  <div class="row">
  <div class="col-8">
  <table class="table">
    <thead>
      <h2>Angular Display Data from Json File</h2>
        <tr>
          <th>Employee Name</th>
          <th>Total Time work</th>
          <th>Entry Notes</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" [ngClass]="user.time > 2 ? 'bgcolor' : ''">
        
        <td>{{ user.EmployeeName }}</td>
        <td>{{ user.totaltime }}</td>
        <td>{{ user.EntryNotes }}</td>
       
      </tr>
    </tbody>
  </table>
  </div>
  <div class="col-4">
    <dx-pie-chart
  id="pie"
  [title]="pieData[0]['EmployeeName']"
  palette="bright"
  [dataSource]="pieData"
>
  <dxo-legend
    orientation="horizontal"
    itemTextPosition="right"
    horizontalAlignment="center"
    verticalAlignment="bottom"
    [columnCount]="4"
  ></dxo-legend>
  <dxo-export [enabled]="true"></dxo-export>
  <dxi-series argumentField="hoursLabel" valueField="time">
    <dxo-label
      [visible]="true"
      position="columns"
      [customizeText]="customizeLabel"
    >
      <dxo-font [size]="16"></dxo-font>
      <dxo-connector [visible]="true" [width]="0.5"></dxo-connector>
    </dxo-label>
  </dxi-series>
</dx-pie-chart>

</div>
</div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
